<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.real.makeBoard.mapper.BoardMapper">
	
	<insert id="add" parameterType="boardVO">
		INSERT INTO BOARD(TITLE,CONTENT,WRITER)
		VALUES(#{title},#{content},#{writer})
	</insert>	

	<select id="getList" resultType="boardVO">
		SELECT BNO,TITLE,CONTENT,WRITER,REGDATE,UPDATEDATE 
		FROM
		(SELECT /*+ INDEX_DESC(BOARD, SYS_C0015385)*/
			ROWNUM RN,BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE
		FROM BOARD 
		<![CDATA[
		WHERE ROWNUM <= #{currentPageNum} * #{amount} 
		]]>
		)
		<![CDATA[
		WHERE RN > (#{currentPageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="getOne" resultType="boardVO">
		SELECT * FROM BOARD
		WHERE BNO= #{bno}
	</select>
	
	<update id="modify">
		UPDATE BOARD 
		SET TITLE= #{title}, CONTENT= #{content}, UPDATEDATE= SYSDATE
		WHERE BNO= #{bno}
	</update>

	<delete id="delete">
		DELETE FROM BOARD
		WHERE BNO= #{bno}
	</delete>
	
	<select id="getTotalNum" resultType="_int">
		SELECT COUNT(BNO) FROM BOARD
	</select>



</mapper>