<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.BoardMapper">
	
	<sql id="search">  <!-- 재사용을 위해 sql 태그 사용 -->
		<if test="type !=null and keyword !=null">
		
		<!-- 아래의 3가지 쿼리가 반영이 된 후 AND로 다음 조건을 이어가야 하므로 trim suffix에 AND를 설정하고 AND가 OR보다 우선순위가 높으므로 위의 3가지 경우를 괄호로 묶어서 이 것들을 먼저 처리하고 AND로 마무리하도록 함 -->
			<trim prefix="(" suffix=") AND" prefixOverrides="OR">  <!-- prefixOverrides: 아래에서 OR을 항상 앞에 붙게 하는데 WHERE 바로 다음 OR이 오면 안되므로 TRIM으로 1번더 감싸서 WHERE 바로 앞에 OR이 안오도록 함 -->
				<foreach item="type" collection="types">
					<trim  prefix="OR">  <!-- 아래 3개의 결과들에 각각 OR을 앞에 붙게끔 함 -->
						<choose>
							<when test="type== 'T'.toString()">
								(TITLE LIKE '%' || #{keyword} || '%')
							</when>
							<when test="type== 'C'.toString()">
								(CONTENT LIKE '%' || #{keyword} || '%')
							</when>
							<when test="type== 'W'.toString()">
								(WRITER LIKE '%' || #{keyword} || '%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
	
	<select id="getList" resultType="boardVO">
	   
	  SELECT BNO,TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE
	  FROM
	  (	
		SELECT /*+ INDEX_DESC(TBL_BOARD, SYS_C0015366)*/
		ROWNUM RN,BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE
		FROM TBL_BOARD WHERE
	    <include refid="search"/>
		
		<![CDATA[  
		ROWNUM <= #{pageNum} * #{amount}
		]]>
	   )
	   <![CDATA[	
	   WHERE RN > (#{pageNum} -1) * #{amount}
	   ]]>
	</select>


 <!-- REGDATE와 UPDATEDATE는 디폴트로 SYSDATE 이므로 따로 넣지 않아도됨 -->

	<insert id="insert" parameterType="boardVO">  <!-- 파라미터 타입은 생략가능 -->
	
		<!-- order=BEFORE을 통해 먼저 SELECT를 실행하고 SEQ_BOARD.NEXTVAL을 BNO에 담아서 그 값을 아래 INSERT의 BNO에 담음 -->
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_BOARD (BNO, TITLE, CONTENT,WRITER)  
		VALUES(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="getOne" parameterType="long" resultType="boardVO">  <!-- parameterType은 생략해도됨 알아서 매칭해주므로 -->
		SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE 
		FROM TBL_BOARD WHERE BNO = #{bno}
		
	</select>
	
	<delete id="delete">
		DELETE FROM TBL_BOARD WHERE BNO= #{bno}
	</delete>
	
	<update id="update">
		UPDATE TBL_BOARD
		SET TITLE = #{title} ,CONTENT= #{content}, UPDATEDATE= SYSDATE
		WHERE BNO = #{bno}
	</update>
	
	<select id="getTotal" resultType="_int">
		SELECT COUNT(BNO) FROM TBL_BOARD
		<where>
			<trim suffixOverrides="AND">
				<include refid="search"/>
			</trim>
		</where>
	</select>
	
	
	<select id="getFiles" resultType="fileVO">
		SELECT UUID, UPLOADPATH, FILENAME, FILETYPE FROM TBL_FILE
		WHERE BNO= #{bno}
	</select>
</mapper>
